__pycache__
/Grounded-SAM-2/
vggt/
/constraints.txt
/*.zip
/checkpoints/
/pyproject.toml
checkpoints/
**/checkpoint/
**/weights/
/debug.py
/certificate.pem
/CODE_OF_CONDUCT.md
/pytorch3d
/MoGe/
/kaolin*
*.pt
*.pth
*.ckpt
*.safetensors
*.bin
*.h5
*.onnx
*.ply
