__pycache__/
.ipynb_checkpoints/
*.pyc
*.pyo
*.pyd

checkpoints/
**/checkpoint/
**/weights/
**/gdino_checkpoints/
*.pt
*.pth
*.ckpt
*.safetensors
*.bin
*.h5
*.onnx

*.ply
*.zip
*.gif
*.jpeg
!/doc/*.png
!/doc/*.gif

/kaolin-*/
.gradio
/v0.17.0.zip
/gaussians/
/notebook/images/
/outputs/merged_scene/merged_scene.ply
/outputs/merged_scene/visualization/camera_trajectory*
splat.ply

*.egg-info/
/Grounded-SAM-2/outputs/
/Grounded-SAM-2/sav_dataset/
/MoGe/moge.egg-info/
/vggt/vggt.egg-info/

/constraints.txt
/certificate.pem
/debug.py